body {
    font-size: 14px
}

.main-container {
    max-width: 350px
}

.text-input-container .text-input textarea {
    width: 100%;
    height: 140px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: -4px
}

.matrix-container .matrix-box {
    border: 1px solid gray
}

.matrix-box .matrix-row {
    display: inline-flex
}

.matrix-row .circle {
    width: 11px;
    height: 11px;
    background: #bdbdbd;
    border-radius: 50%;
    margin: 4.3px;
    border: 1px solid #000
}

.matrix-container {
    display: flex;
    margin-bottom: 10px;
    background: #dfdfdf;
    width: fit-content
}

.text-line-container {
    height: 40px
}

.text-line-container .text-line {
    width: 100%
}

.text-line-container .text-line input {
    width: 90%;
    height: 30px;
    margin-bottom: 30px;
    border: 2px solid gray;
    border-radius: 5px
}

.text-line-container {
    display: flex
}

.fbf-line-container {
    height: 40px
}

.fbf-line-container .fbf-line {
    width: 100%
}

.fbf-line-container .fbf-line input {
    width: 90%;
    height: 30px;
    margin-bottom: 30px;
    border: 2px solid gray;
    border-radius: 5px
}

.fbf-line-container {
    display: flex
}

.text-input-container {
    display: flex
}

.text-input-container .text-input {
    width: 100%
}

.text-input-container .text-input textarea {
    width: 286px;
    border: 2px solid gray;
    border-radius: 5px 5px 0 0
}

.text-line-container .button {
    width: 40px;
    height: 32px;
    border: 2px solid gray;
    border-radius: 5px
}

.fbf-line-container .button {
    width: 40px;
    height: 32px;
    border: 2px solid gray;
    border-radius: 5px
}

.text-input-container .buttons-container .button {
    width: 35px;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 5px 0;
    height: 32px
}

.text-line-container .button img {
    padding: 5px 6px
}

.fbf-line-container .button img {
    padding: 5px 6px
}

.under-input-buttons {
    margin-top: -2px
}

.under-input-buttons-container .under-input-buttons {
    display: flex;
    padding-bottom: 20px
}

.under-input-buttons-container .under-input-buttons .left-buttons {
    display: flex
}

.under-input-buttons-container .under-input-buttons .right-buttons {
    margin-left: 58px;
    display: flex;
}

.under-input-buttons-container .under-input-buttons .button {
    border: 2px solid gray;
    border-radius: 0 0 5px 5px;
    padding: 6px;
    text-align: center
}

.under-input-buttons-container .under-input-buttons .fix-button-1 {
    border-radius: 0 0 0 5px
}

.under-input-buttons-container .under-input-buttons .fix-button-2 {
    border-radius: 0 0 5px;
    margin-left: -2px
}

.parameters-container input {
    border: 2px solid gray;
    border-radius: 5px;
    width: 30px;
    text-align: center;
    height: 20px
}

.parameters-container .sets-container {
    padding: 5px 0
}

.parameters-container .regime-sets-container .button {
    border: 2px solid gray;
    padding: 6px;
    text-align: center;
    width: 70px
}

.parameters-container .regime-sets-container .queue-regime {
    border-radius: 5px 0 0 5px
}

.parameters-container .regime-sets-container .random-regime {
    border-radius: 0 5px 5px 0;
    margin-left: -2px
}

.parameters-container .regime-sets-container {
    display: flex
}

.parameters-container .regime-sets-container span {
    margin: auto
}

.button:hover {
    cursor: pointer
}

.parameters-container .button:hover {
    background: #e8f4ff
}

.parameters-container .button:active {
    background: #9ed2ff
}

.parameters-container .leftright-sets-container span {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto
}

.parameters-container .leftright-sets-container {
    display: flex
}

.parameters-container .leftright-sets-container .buttons {
    display: flex;
    background: #ebebeb
}

.parameters-container .leftright-sets-container .left {
    border-radius: 5px 0 0 5px
}

.parameters-container .leftright-sets-container .right {
    border-radius: 0 5px 5px 0;
    margin-left: -2px
}

.parameters-container .leftright-sets-container .button {
    border: 2px solid gray;
    padding: 6px;
    text-align: center;
    width: 70px
}

.parameters-container .random-sets-container span {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto
}

.parameters-container .random-sets-container {
    display: flex
}

.parameters-container .random-sets-container .buttons {
    display: flex;
    background: #ebebeb
}

.parameters-container .random-sets-container .left {
    border-radius: 5px 0 0 5px
}

.parameters-container .random-sets-container .right {
    border-radius: 0 5px 5px 0;
    margin-left: -2px
}

.parameters-container .random-sets-container .button {
    border: 2px solid gray;
    padding: 6px;
    text-align: center;
    width: 70px
}

.parameters-container .logs-sets-container span {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto
}

.parameters-container .logs-sets-container {
    display: flex
}

.parameters-container .logs-sets-container a {
    text-decoration: none;
    color: black;
}

.parameters-container .logs-sets-container .buttons {
    display: flex;
    background: #ebebeb
}

.parameters-container .logs-sets-container .left {
    border-radius: 5px 0 0 5px
}

.parameters-container .logs-sets-container .right {
    border-radius: 0 5px 5px 0;
    margin-left: -2px
}

.parameters-container .logs-sets-container .button {
    border: 2px solid gray;
    padding: 6px;
    text-align: center;
    width: 100px
}

.parameters-container .testengine-sets-container span {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto
}

.parameters-container .testengine-sets-container {
    display: flex
}

.parameters-container .testengine-sets-container .buttons {
    display: flex;
    background: #ebebeb
}

.parameters-container .testengine-sets-container .enable {
    border-radius: 5px 0 0 5px
}

.parameters-container .testengine-sets-container .disable,
.parameters-container .testengine-sets-container .test {
    margin-left: -2px
}

.parameters-container .testengine-sets-container .stop {
    border-radius: 0 5px 5px 0;
    margin-left: -2px
}

.parameters-container .testengine-sets-container .button {
    border: 2px solid gray;
    padding: 6px;
    text-align: center;
    width: 50px
}

#play {
    background-image: url(icons/play.svg);
    background-repeat: no-repeat;
    background-position: 6px;
    background-size: 24px
}

#pause {
    background-image: url(icons/pause.svg);
    background-repeat: no-repeat;
    background-position: 6px;
    background-size: 24px
}

#stop {
    background-image: url(icons/stop.svg);
    background-repeat: no-repeat;
    background-position: 6px;
    background-size: 20px
}

#clear {
    background-image: url(icons/close.svg);
    background-repeat: no-repeat;
    background-position: 7px;
    background-size: 24px
}

#fbf-clean {
    background-image: url(icons/clean.png);
    background-repeat: no-repeat;
    background-position: 7px;
    background-size: 24px
}

.available {
    background-color: #fdfd70
}

.available:hover {
    background-color: #fdf270
}

.active {
    background-color: #fff
}

.default {
    background-color: #fff8dc
}

.disabled {
    background-color: #ebebeb;
    opacity: .5
}

.disabled:hover {
    background-color: #ebebeb;
    opacity: .5;
    cursor: default
}

#code,
#pins {
    width: 200px
}

#pins,
#arduino {
    padding-top: 30px
}

.pixel {
    width: 19px;
    height: 19px;
    border: 1px solid #ccc;
    border-radius: 50%
}

.off {
    background: #fff
}

.on {
    background: red
}

.mtable,
.mtable-row,
.mtable-cell {
    display: block;
    float: left;
    margin: 0;
    padding: 0
}

.mtable-row {
    clear: right
}

.mtable-cell {
    clear: right;
    zoom: 1
}

.mtable {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc
}

.symbol {
    overflow: hidden;
    position: relative;
    margin: 2px;
    padding: 0;
    border: 1px solid #ccc;
    width: 50px;
    float: left
}

.pixel_small {
    height: 6px;
    width: 6px;
    border: 1px solid #ccc;
    border-radius: 50%
}

.matrix-input-container {
    display: flex;
    background: #dfdfdf;
    width: 290px;
    border: 2px solid gray;
    border-radius: 5px 5px 0 0;
    user-select: none
}

.matrix-input-container .matrix-box {
    border: 1px solid gray
}

.matrix-input-container .input-pixel {
    width: 15.8px;
    height: 15.8px;
    border: 1px solid #ccc;
    border-radius: 50%
}

.left-buttons {
    background: #ebebeb
}

.none {
    display: none
}

.text-line-div {
    background: #f7f7f7;
    height: 33px;
    width: 285px;
    border-radius: 5px;
    border: 2px solid gray;
    margin-bottom: 30px;
    font-size: 23px;
    padding: 0 5px;
    display: flex;
    overflow: auto
}

.text-line-div::-webkit-scrollbar,
.fbf-line-div::-webkit-scrollbar {
    width: 0;
    height: 0;
    scrollbar-width: none
}

.fbf-line-container .fbf-line-div {
    background: #f7f7f7;
    height: 33px;
    width: 280px;
    border-radius: 5px;
    border: 2px solid gray;
    margin-bottom: 30px;
    font-size: 23px;
    padding: 0 5px;
    display: flex;
    overflow: auto
}

.dot-row {
    display: flex
}

dot {
    width: 3px;
    height: 3px;
    margin: .5px;
    display: block
}

dot.true {
    background: gray
}

.vertical-line {
    border-left: 1px solid gray;
    margin: 3px
}

.bl-m {
    display: flex
}

#connect {
    text-align: center;
    width: 80px;
    height: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    background: #f0f8ff;
    margin: auto
}

textarea#logs {
    width: 250px;
    height: 80px
}

.bl-sets-container {
    padding-bottom: 15px
}

.bl-sets-container * {
    padding-bottom: 2px
}

.queue-buttons-container {
    width: 100%;
    height: 40px;
    display: flex
}

.queue-buttons-container .button {
    width: 80px;
    height: 17px;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4)
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.modal-content ul {
    list-style-type: revert
}

.modal-content ul li {
    padding: 5px 0
}
div.merged {
    background: aliceblue;
}