<!-- components/footer.html -->
<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3 data-i18n="footer.about">О проекте</h3>
      <p data-i18n="footer.about_text">Береста — носимый интерфейс нового поколения на основе сенсорного замещения</p>
    </div>

    <div class="footer-section">
      <h3 data-i18n="footer.contact">Контакты</h3>
      <a href="mailto:contact@beresta.dev">contact@beresta.dev</a>
    </div>

    <div class="footer-section">
      <h3 data-i18n="footer.navigation">Навигация</h3>
      
        <a href="/roadmap.html" data-i18n="footer.roadmap">Дорожная карта</a>
        <a href="/whitepaper.html" data-i18n="footer.whitepaper">White Paper</a>
      
    </div>

    <div class="footer-section">
       <h3 data-i18n="footer.follow">Следите за развитием проекта</h3>
        <p>Мы делимся прогрессом в X и Telegram</p>
      <div class="social-icons">
          <a href="https://t.me/berestadotone" aria-label="Telegram"><img src="/img/telegram.png" alt="Telegram"></a>
          <a href="https://x.com/berestadotone" aria-label="X"><img src="/img/x.png" alt="X"></a>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p data-i18n="footer.copyright">© 2025 Beresta Project. Все права защищены.</p>
  </div>
</footer>
